  <% if @food_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_item.errors.count, "error") %> prohibited this food_item from being saved:</h2>

      <ul>
      <% @food_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@food_item, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :name %>
        </div>
        <div class='col-sm-10'>
          <%= f.text_field :name, class: "form-control", placeholder: "Food name", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :container_color %>
        </div>
        <div class='col-sm-10'>
          <%= f.select :container_color, options_for_select(@container_colors.collect {|s| [s[0].humanize,
            s[0]]}, selected: @food_item.container_color), {}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :container_value %>
         </div>
         <div class='col-sm-10'>
        <%= f.text_field :container_value, class: 'form-control', placeholder: "Amount of containers" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class: 'btn btn-primary btn-md' %>
        </div>
      </div>
    <% end %>
    <div align="center">
      [ <%= link_to 'Cancel and return to food items list', food_items_path %> ]
    </div>
  </div>
</div>