<p id="notice"><%= notice %></p>

<h1>Listing Food Items</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Value</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @food_items.each do |food_item| %>
        <tr>
          <td><%= link_to food_item.name, edit_food_item_path(food_item) %></td>
          <td><%= food_item.container_color %></td>
          <td><%= food_item.container_value %></td>
          <td><%= link_to 'Destroy', food_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Food item', new_food_item_path %>
